* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}
body {
    background-image: url("bg.jpg");
    background-size: cover;
    margin:0;
    max-width:640px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
    line-height:2;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    overflow: auto;
}
li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;    
}

li a.active {
    background-color: grey;
    color: white;
}

li a:hover:not(.active) {
      background-color: lightgray;
    color: white;
}
.box{
  margin-left: 400px;
  padding: 100px 100px;
}
.details{
  border: 2px solid #555;
  border-radius: 10px;
  font-size: medium;
  text-align: center;
  display:block;
  min-width:700px;
  background-color: #ffffff;
  padding: 10px;
}
.head{
  display: block;
  width: 100vw;
  text-align: center;
  background: #ffffff;
  color: gray;
  font-size: 30px;
}
.head img{
  float: left;
  width: 120px;
  height: 120px;
  padding: 10px 10px;
}
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}